{% load static %}
<!DOCTYPE html>
<html lang="en">

  <meta name="google-site-verification" content="ad5xSF75uh-eU1Bq95IE2SqvErlO_qvwZWoad6x56-o" />
  <meta name="geo.region" content="IN-TG" />
  <meta name="geo.placename" content="Kothagudem" />
  <meta name="geo.position" content="17.554019;80.617638" />
  <meta name="ICBM" content="17.554019, 80.617638" />
  <meta name="author" content="Eslavath Narasimha Naik" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Contact Page</title>
    <link rel="stylesheet" href="" />
</head>
<body>
    <h1>This is the contact page</h1>
    <form method="post" action="">
        {% csrf_token %}
        <table>
         {{ form.as_table }}
        </table>
    </form>
</body>
</html>
